* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background: #ecf0f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

#root {
  width: 100%;
  
}


@media screen and (max-width: 920px){ 
  :root {
      font-size: 14px;
      
  }
}

@media screen and (max-width: 480px){ 
  body {
     height: 100%;
      
  }
}
